/* Grundlegendes Styling für die gesamte App */
body, html {
  margin: 0;
  padding: 0;
  background-color: #1D1E2C; /* Dunkler Hintergrund für die gesamte Seite */
  color: #24263A; /* Standard-Textfarbe */
  height: 100%; /* Volle Höhe des Bildschirms */
}

.app {
  text-align: center;
  background-color: #1D1E2C; /* Hintergrund für den Haupt-Container */
  min-height: 100vh; /* Volle Höhe des Viewports */
  display: flex;
  flex-direction: row; /* Sidebar und Hauptinhalt nebeneinander anordnen */
}

/* Sidebar */
.app-sidebar {
  width: 250px; /* Breite der Sidebar */
  height: 100vh; /* Volle Höhe des Viewports */
  background-color: #14172b; /* Hintergrundfarbe der Sidebar */
  margin-right: 4rem;
}

/*Mainboard*/
.mainboard{
  flex-grow: 1; /* Nimmt den verbleibenden Platz ein */
  display: flex;
  flex-direction: column; /* Header oben, Inhalte darunter */
}

/* Header */
.app-header {
  width: 100%;/* Header soll die restliche Breite einnehmen */
  height: 70px; /* Höhe des Headers */
  display: flex;
  align-items: center;
  justify-content: center; /* Zentriert den Inhalt im Header */
  padding: 0 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Dashboard Content */
.dashboard {
  flex: 1; /* Nimmt den verbleibenden Platz ein */
  padding-top: 1rem;
  color: #1e2236; /* Standard-Textfarbe */
}
