.container {
    width: 100%;
    height: 100%;
    position: relative;
    background: #171825;;
  }
  
  .inner-box {
    width: 1080px;
    height: 627px;
    position: absolute;
    left: 143px;
    top: 70px;
    background: #171825;;
    border-radius: 20px;
  }
  