.dashboard {
    padding: 20px;
    color: white;
  }
  
  .topCards {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .card {
    flex: 1;
    background-color: #24263A;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .card h3 {
    margin-bottom: 10px;
  }
  
  .card h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .transactions {
    background-color: #24263A;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .transactionList {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 3rem;
    width: 100%;
    border-collapse: collapse;

  }

  .transactionItem td, .transactionList th {
    padding: 1rem;
  }

  .transactionItem, .transactionList thead tr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .transactionItem:last-child {
    border-bottom: none;
  }

  .transactionItem td:first-child, .transactionItem td:last {
    font-weight: bold;
  }

  .transactionAmount::after {
    content: " €"
  }
  

  .uploadMenu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #24263A; /* Gleiche Hintergrundfarbe wie andere Karten */
    color: white; /* Textfarbe */
    padding: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Konsistenter Schatten */
    border-radius: 10px; /* Gleiche Rundung wie bei Karten */
    z-index: 1000;
}

.uploadMenu input,
.uploadMenu select {
    display: block;
    margin: 10px 0;
    width: 100%;
    padding: 10px;
    background: #1E2030; /* Dunkler Hintergrund für Eingabefelder */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Dezente Umrandung */
    border-radius: 5px; /* Leichte Rundung */
    color: white; /* Weiße Schrift */
    font-size: 1rem;
}

.uploadMenu input:focus,
.uploadMenu select:focus {
    outline: none;
    border-color: #007bff; /* Fokusfarbe */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Fokus-Schatten */
}

.uploadMenuActions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.uploadMenuActions button {
    padding: 10px 20px;
    background-color: #007bff; /* Gleiche Farbe wie der Upload-Button */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.uploadMenuActions button:hover {
    background-color: #0056b3; /* Hover-Effekt */
}

  